{% extends 'base.html' %}
{% block content %}
<div>
	<!-- This form is incomplete. It will not send the request properly and has missing components.  Add the necessary fields to complete the form.  -->
	<form method="post">
	     <div style="margin: 10px 0px">
			<label>Amount Invested ($): </label><br/>
			<input name="initial" placeholder="Amount Invested" value="{{initial}}" />
		</div>
		<div style="margin: 10px 0px">
			<label>Interest Rate (%): </label><br/>
			<input name="rate" placeholder="Amount Invested" value="{{rate}}" />
		</div>
		<div style="margin: 10px 0px">
			<label>Time Investment (Year): </label><br/>
			<input name="time" placeholder="Amount Invested" value="{{time}}" />
		</div>
	    <div style="margin: 10px 0px">
			<label>Total Interest ($): </label><br/>
			<input name="total" placeholder="Amount Invested" value="{{total}}" disabled = "disabled""/>
		</div>
		<div style="margin: 10px 0px">
			<button type="submit">Submit</button>
		</div>
	</form>
</div>
<div>
<a href="{{url_for('time_interest')}}">Time Form</a>
<a href="{{url_for('interest_total')}}">Total Form</a>
</div>
    <a href="{{url_for('credits')}}">Credits Page</a>
{% endblock %}
